@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_opsz,wght.woff2) format('woff2');
    font-display: swap;
}

@theme {
    --color-laranjao: #ff6a00;
    --color-laranjao-hover: #ff8533;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}